In [28]:
import pandas as pd

In [101]:
dfc = pd.read_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/sales_data_csv/superstore_central_sales.csv')

In [102]:
dfc.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Postal Code,Product ID,Sales,Quantity,Discount,Profit
0,CA-2017-105823,22-06-2020,26-06-2020,Standard Class,RB-19465,Home Office,48227,FUR-CH-10000454,487.960,2,0.0,146.3880
1,CA-2017-106103,10-06-2020,15-06-2020,Standard Class,SC-20305,Consumer,48307,TEC-AC-10003832,132.520,4,0.0,54.3332
2,CA-2017-106782,21-12-2020,27-12-2020,Standard Class,LP-17095,Consumer,47905,OFF-ST-10004459,375.340,1,0.0,18.7670
3,CA-2017-112039,25-03-2020,29-03-2020,Standard Class,JC-15775,Consumer,78207,TEC-PH-10000984,470.376,3,0.2,47.0376
4,CA-2017-121559,01-06-2020,03-06-2020,Second Class,HW-14935,Corporate,46203,OFF-AP-10002945,2405.200,8,0.0,793.7160

In [103]:
dfc['Order Date'] = pd.to_datetime(dfc['Order Date'], errors='coerce')
dfc['Ship Date'] = pd.to_datetime(dfc['Ship Date'], errors='coerce')
dfc['Sales'] = pd.to_numeric(dfc['Sales'], errors='coerce')
dfc['Quantity'] = pd.to_numeric(dfc['Quantity'], errors='coerce')
dfc['Discount'] = pd.to_numeric(dfc['Discount'], errors='coerce')
dfc['Profit'] = pd.to_numeric(dfc['Profit'], errors='coerce')
dfc['Postal Code'] = pd.to_numeric(dfc['Postal Code'], errors='coerce')

In [104]:
dfc.dtypes

Order ID               object
Order Date     datetime64[ns]
Ship Date      datetime64[ns]
Ship Mode              object
Customer ID            object
Segment                object
Postal Code             int64
Product ID             object
Sales                 float64
Quantity                int64
Discount              float64
Profit                float64
dtype: object

In [105]:
dfc=dfc.dropna()

In [106]:
dfc.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Postal Code,Product ID,Sales,Quantity,Discount,Profit
0,CA-2017-105823,2020-06-22,2020-06-26,Standard Class,RB-19465,Home Office,48227,FUR-CH-10000454,487.960,2,0.0,146.3880
1,CA-2017-106103,2020-10-06,2020-06-15,Standard Class,SC-20305,Consumer,48307,TEC-AC-10003832,132.520,4,0.0,54.3332
2,CA-2017-106782,2020-12-21,2020-12-27,Standard Class,LP-17095,Consumer,47905,OFF-ST-10004459,375.340,1,0.0,18.7670
3,CA-2017-112039,2020-03-25,2020-03-29,Standard Class,JC-15775,Consumer,78207,TEC-PH-10000984,470.376,3,0.2,47.0376
4,CA-2017-121559,2020-01-06,2020-03-06,Second Class,HW-14935,Corporate,46203,OFF-AP-10002945,2405.200,8,0.0,793.7160

In [107]:
dfc.to_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/superstore_central_sales1.csv')

In [137]:
dfw = pd.read_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/sales_data_csv/superstore_west_sales.csv')

In [138]:
dfw.head()

,order_id,order_date,ship_date,ship_mode,customer_id,segment,postal_code,product_id,sales,quantity,discount,profit
0,CA-2017-102750,04-09-2020,08-09-2020,Second Class,GM-14695,Corporate,90036.0,FUR-TA-10000199,1322.352,3.0,0.2,-99.1764
1,CA-2017-103380,21-11-2020,25-11-2020,Standard Class,BF-11005,Home Office,91104.0,TEC-PH-10004165,659.976,3.0,0.2,49.4982
2,CA-2017-105851,13-03-2020,20-03-2020,Standard Class,SE-20110,Consumer,80219.0,OFF-SU-10002881,1332.496,2.0,0.2,-299.8116
3,CA-2017-105914,02-10-2020,08-10-2020,Standard Class,PV-18985,Home Office,90036.0,OFF-ST-10003716,1575.140,7.0,0.0,204.7682
4,CA-2017-108574,07-10-2020,11-10-2020,Standard Class,MG-18145,Consumer,90045.0,TEC-AC-10002049,1115.910,9.0,0.0,200.8638

In [139]:
dfw['order_date'] = pd.to_datetime(dfw['order_date'], errors='coerce')
dfw['ship_date'] = pd.to_datetime(dfw['ship_date'], errors='coerce')
dfw['sales'] = pd.to_numeric(dfw['sales'], errors='coerce')
dfw['quantity'] = pd.to_numeric(dfw['quantity'], errors='coerce')
dfw['discount'] = pd.to_numeric(dfw['discount'], errors='coerce')
dfw['profit'] = pd.to_numeric(dfw['profit'], errors='coerce')
dfw['postal_code'] = pd.to_numeric(dfw['postal_code'], errors='coerce')

In [140]:
dfw.dtypes

order_id               object
order_date     datetime64[ns]
ship_date      datetime64[ns]
ship_mode              object
customer_id            object
segment                object
postal_code           float64
product_id             object
sales                 float64
quantity              float64
discount              float64
profit                float64
dtype: object

In [141]:
dfw=dfw.dropna()

In [142]:
dfw.head()

,order_id,order_date,ship_date,ship_mode,customer_id,segment,postal_code,product_id,sales,quantity,discount,profit
0,CA-2017-102750,2020-04-09,2020-08-09,Second Class,GM-14695,Corporate,90036.0,FUR-TA-10000199,1322.352,3.0,0.2,-99.1764
1,CA-2017-103380,2020-11-21,2020-11-25,Standard Class,BF-11005,Home Office,91104.0,TEC-PH-10004165,659.976,3.0,0.2,49.4982
2,CA-2017-105851,2020-03-13,2020-03-20,Standard Class,SE-20110,Consumer,80219.0,OFF-SU-10002881,1332.496,2.0,0.2,-299.8116
3,CA-2017-105914,2020-02-10,2020-08-10,Standard Class,PV-18985,Home Office,90036.0,OFF-ST-10003716,1575.140,7.0,0.0,204.7682
4,CA-2017-108574,2020-07-10,2020-11-10,Standard Class,MG-18145,Consumer,90045.0,TEC-AC-10002049,1115.910,9.0,0.0,200.8638

In [143]:
dfw.to_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/superstore_west_sales1.csv')

In [130]:
dfs = pd.read_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/superstore_south_sales.csv')

In [131]:
dfs.head()

,Order,Date,Date Shipped,Shipping Method,Customer Number,Segment,Postal Code 1,Product ID,Sales,Quantity,Discount,Profit
0,CA-2017-102204,05-01-2020,05-06-2020,Standard Class,CJ-12010,Consumer,32216,FUR-TA-10001889,933.262,4,0.45,-458.1468
1,CA-2017-102204,05-01-2020,05-06-2020,Standard Class,CJ-12010,Consumer,32216,FUR-CH-10002024,2803.920,5,0.20,0.0000
2,CA-2017-103212,13-10-2020,14-10-2020,First Class,MH-18025,Consumer,70506,FUR-TA-10003473,1504.520,4,0.00,346.0396
3,CA-2017-108035,29-11-2020,12-03-2020,Standard Class,TT-21070,Consumer,37421,FUR-CH-10000454,390.368,2,0.20,48.7960
4,CA-2017-113558,10/21/20,10/26/20,Standard Class,PH-18790,Home Office,33801,FUR-CH-10003379,683.952,3,0.20,42.7470

In [132]:
dfs['Date'] = pd.to_datetime(dfs['Date'], errors='coerce')
dfs['Date Shipped'] = pd.to_datetime(dfs['Date Shipped'], errors='coerce')
dfs['Sales'] = pd.to_numeric(dfs['Sales'], errors='coerce')
dfs['Quantity'] = pd.to_numeric(dfs['Quantity'], errors='coerce')
dfs['Discount'] = pd.to_numeric(dfs['Discount'], errors='coerce')
dfs['Profit'] = pd.to_numeric(dfs['Profit'], errors='coerce')
dfs['Postal Code 1'] = pd.to_numeric(dfs['Postal Code 1'], errors='coerce')

In [133]:
dfs.dtypes

Order                      object
Date               datetime64[ns]
Date Shipped       datetime64[ns]
Shipping Method            object
Customer Number            object
Segment                    object
Postal Code 1               int64
Product ID                 object
Sales                     float64
Quantity                    int64
Discount                  float64
Profit                    float64
dtype: object

In [134]:
dfs=dfs.dropna()

In [135]:
dfs.head()

,Order,Date,Date Shipped,Shipping Method,Customer Number,Segment,Postal Code 1,Product ID,Sales,Quantity,Discount,Profit
0,CA-2017-102204,2020-05-01,2020-05-06,Standard Class,CJ-12010,Consumer,32216,FUR-TA-10001889,933.262,4,0.45,-458.1468
1,CA-2017-102204,2020-05-01,2020-05-06,Standard Class,CJ-12010,Consumer,32216,FUR-CH-10002024,2803.920,5,0.20,0.0000
2,CA-2017-103212,2020-10-13,2020-10-14,First Class,MH-18025,Consumer,70506,FUR-TA-10003473,1504.520,4,0.00,346.0396
3,CA-2017-108035,2020-11-29,2020-12-03,Standard Class,TT-21070,Consumer,37421,FUR-CH-10000454,390.368,2,0.20,48.7960
4,CA-2017-113558,2020-10-21,2020-10-26,Standard Class,PH-18790,Home Office,33801,FUR-CH-10003379,683.952,3,0.20,42.7470

In [136]:
dfs.to_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/superstore_south_sales1.csv')

In [144]:
dfe = pd.read_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/superstore_east_sales.csv')

In [145]:
dfe.head()

,order_number,ord_date,ship_date,ship_type,customer_key,customer_section,post_code,product_id,sales,#_items,reduction,total
0,CA-2017-100111,20-09-2020,26-09-2020,Standard Class,SV-20365,Consumer,10035,TEC-PH-10002885,1299.660,2,0.0,350.9082
1,CA-2017-100111,20-09-2020,26-09-2020,Standard Class,SV-20365,Consumer,10035,FUR-CH-10001215,2254.410,5,0.1,375.7350
2,CA-2017-104640,10-11-2020,16-11-2020,Standard Class,FH-14275,Corporate,10024,OFF-BI-10003925,931.176,3,0.2,314.2719
3,CA-2017-107132,26-06-2020,31-06-2020,Standard Class,SC-20260,Corporate,10009,OFF-ST-10001490,713.880,4,0.0,214.1640
4,CA-2017-111556,20-11-2020,22-11-2020,First Class,CD-11920,Consumer,10035,TEC-PH-10001459,1259.970,3,0.0,327.5922

In [146]:
dfe['ord_date'] = pd.to_datetime(dfe['ord_date'], errors='coerce')
dfe['ship_date'] = pd.to_datetime(dfe['ship_date'], errors='coerce')
dfe['sales'] = pd.to_numeric(dfe['sales'], errors='coerce')
dfe['#_items'] = pd.to_numeric(dfe['#_items'], errors='coerce')
dfe['reduction'] = pd.to_numeric(dfe['reduction'], errors='coerce')
dfe['total'] = pd.to_numeric(dfe['total'], errors='coerce')
dfe['post_code'] = pd.to_numeric(dfe['post_code'], errors='coerce')

In [147]:
dfe.dtypes

order_number                object
ord_date            datetime64[ns]
ship_date           datetime64[ns]
ship_type                   object
customer_key                object
customer_section            object
post_code                    int64
product_id                  object
sales                      float64
#_items                      int64
reduction                  float64
total                      float64
dtype: object

In [148]:
dfe=dfe.dropna()

In [149]:
dfe.head()

,order_number,ord_date,ship_date,ship_type,customer_key,customer_section,post_code,product_id,sales,#_items,reduction,total
0,CA-2017-100111,2020-09-20,2020-09-26,Standard Class,SV-20365,Consumer,10035,TEC-PH-10002885,1299.660,2,0.0,350.9082
1,CA-2017-100111,2020-09-20,2020-09-26,Standard Class,SV-20365,Consumer,10035,FUR-CH-10001215,2254.410,5,0.1,375.7350
2,CA-2017-104640,2020-10-11,2020-11-16,Standard Class,FH-14275,Corporate,10024,OFF-BI-10003925,931.176,3,0.2,314.2719
4,CA-2017-111556,2020-11-20,2020-11-22,First Class,CD-11920,Consumer,10035,TEC-PH-10001459,1259.970,3,0.0,327.5922
6,CA-2017-113453,2020-10-21,2020-10-28,Standard Class,CM-12160,Consumer,19143,TEC-PH-10004165,329.988,2,0.4,-76.9972

In [150]:
dfe.to_csv('E:/Visual Studio 2019/Downloads/Data Analyst Project/group_sales_data/superstore_east_sales1.csv')